body {text-align: center;
color: navy;
font-size: 20px;
font-family: merriweather;
font-weight: 200;}
body h1 {font-size: 60px;
font-weight:bold;
background-color: rgb(128, 226, 226);}
body h2 {background-color: rgb(128, 226, 226);}
table, td, th {
    border: 2px solid;
    text-align: center;
    font-weight: 200;
    
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  th {font-weight: bold;
  text-align: center;}
  .tag {font-family: monospace;}